<div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">hamedpanahi @year</a>
    </nav>
</div>
@code {
    string year="";

    protected override void OnInitialized()
    {
        base.OnInitialized();

        year = DateTime.Now.Year.ToString();
    }
}
